.comment-detail-wrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-detail-comments-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.comment-detail-comments-container-editing {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.comment-detail-comments-container:hover {
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.4s ease all;
}

.comment-detail-pfp-container {
    margin-left: 30px;
    margin-top: 10px;
}

.comment-detail-pfp {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.comment-detail-comments-info {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.comment-detail-comments-info-and-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-detail-username-and-createdAt {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.comment-detail-createdAt {
    font-size: 14px;
    color: #898989;
    margin-left: 15px;
}

.comment-detail-btns {
    display: flex;
    align-items: center;
    margin-right: 10px;
    opacity: 0;
}

.comment-detail-comments-container:hover .comment-detail-btns {
    opacity: 1;
}

.comment-detail-edit-comment-btn {
    cursor: pointer;
    color: #cacdce;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.comment-detail-edit-comment-btn:hover {
    color: #8e9396;
}

/* .comment-detail-delete-comment-btn {
    color: #cacdce;
} */

.comment-display {
    padding-right: 5px;
    color: #212124;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
