.albumImages-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    border-radius: 25px;
}

.album-imgs {
    max-width: 300px;
    max-height: 300px;
}

.album-title-and-edit-button {
    margin-bottom: 50px;
}

.album-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-album-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    cursor: pointer;
}
