.other-img-list {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    border-radius: 25px;
}

.other-img-display {
    max-width: 250px;
    max-height: 250px;
}
