.about-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-links {
    margin-left: 20px;
}

.about-linkdin-link {
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 300px;
}

.about-github-link {
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bloop-img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.about-blurb {
    display: flex;
    word-wrap: normal;
}

p {
    width: 470px;
    font-size: 25px;
}
