.user-img-wrap {
    background-color: #f3f5f6;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 94vh;
}

.user-img-header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 252px;
    width: 100%;
    line-height: 1;
    background: url('../../images/island-header.jpg');
    background-size: cover;
}

.user-img-header-top {
    height: 126px;
    width: 100%;
}

.user-img-header-bottom {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    width: 100%;
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-img-header-left {
    margin-left: 200px;
    display: flex;
    align-items: center;
}

.user-img-header-pfp-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.user-img-header-edit-div {
    cursor: pointer;
    top: 33px;
    left: 33px;
    z-index: 5;
    position: absolute;
    transition: .3s ease;
    width: 30px;
    height: 30px;
    background: url('../../images/edit.png');
    background-size: 30px 30px;
    opacity: 0;
}

.user-img-header-pfp-container:hover .user-img-header-edit-div {
    opacity: 1;
}

.user-img-header-edit-div:hover {
    opacity: 1;
}

.user-img-header-pfp {
    position: absolute;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.user-img-header-pfp-container:hover .user-img-header-pfp {
    filter: brightness(50%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

/* .user-img-fluff {
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    width: 23.7%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.user-img-header-user-info {
    height: 125px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.user-img-header-username {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    font-weight: 320;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-img-header-fluff {
    padding-bottom: 7px;
    font-weight: 300;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-img-header-right {
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-img-header-right-top {
    height: 70px;
}

.user-img-header-count-and-joined {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-right: 200px;
    width: 200px;
}

.user-img-header-photo-count {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-img-header-joined {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-img-container {
    width: 80%;
    background-color: #f3f5f6;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    margin-top: 50px;
    row-gap: 5px;
    column-gap: 5px;
    overflow-x: hidden;
    position: relative;
}

.user-img-container .user-pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
}

/* .user-img-container .user-pics:hover {
    filter: opacity(.8);
} */

@media (max-width: 991px) {
    .user-img-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        row-gap: 5px;
        column-gap: 5px;
    }
}

@media (max-width: 480px) {
    .user-img-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        row-gap: 5px;
        column-gap: 5px;
    }
}

.user-img-display {
    width: 100%;
}

/* .user-pics:hover {
    filter: opacity(.9);
} */

.user-img-overlay {
    position: absolute;
    opacity: 0;
    transition: .3s ease;
    width: 100%;
    height: auto;
}

.user-pics:hover .user-img-overlay {
    opacity: 1;
}

.user-img-fluff {
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    width: 23.7%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-img-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.user-img-username {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 3px;
    font-size: 11px;
    color: #bebebe;
}

.user-img-no-imgs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.user-img-no-imgs-header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
}

.user-img-no-imgs-blurb {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .user-header-left {
    width: 400px;
} */

/* .user-img-display {
    max-width: 250px;
    max-height: 250px;
}

.user-img-list {
    display: grid;
    grid-auto-flow: row;
    margin-top: 0px;
}

.your-images {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    font-size: 25px
}

.create-image-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 150px;
    height: 35px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
} */
