.add-comment-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 100px;
}

.add-comment-pfp {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 30px;
    object-fit: cover;
}

.add-comment-form-and-btn {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-comment-container {
    display: flex;
    flex-direction: column;
    width: 94%;
    border: 1px solid #9ea4a7;
    padding: 10px;
    background-color: white;
    padding-right: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

/* .add-comment-container::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-right-color: #9ea4a7;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    left: -20px;
} */

/* .add-comment-container:focus-within .add-comment-container::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-right-color: #008ddf;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    left: -20px;
} */

/* .add-comment-textarea::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-right-color: black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    top: 100%;
    left: 50%
} */

.add-comment-container:focus-within {
    border: 1px solid #008ddf;
}

.add-comment-container:focus-within .add-comment-emoji-icon {
    color: #008ddf
}

/* .add-comment-container:not(:focus-within)+.add-comment-btn {
    display: none;
} */

.add-comment-textarea {
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
    outline: none;
    resize: none;
    border: none;
    /* background: transparent; */
    /* position: relative; */
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .add-comment-container::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #008ddf;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -23px;
}

.add-comment-container::after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -17px;
} */

.add-comment-features {
    height: 20px;
    /* position: relative; */
}

.add-comment-emoji-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    /* position: absolute; */
    color: #9ea4a7;
}

.add-comment-emoji-icon:hover {
    color: #008ddf;
}

.picker {
    margin-bottom: 20px;
}

.add-comment-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-comment-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    color: white;
    background-color: #0091dc;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-comment-btn:hover {
    background-color: #1c9be9;
}

.add-comment-btn:disabled {
    background-color: #80c0e8;
}
