.signup-form {
    display: flex;
    flex-direction: column;
    background-color: #a3865a;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4d4539;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    background-color: #a3865a;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 500px;
    height: 400px;
    margin-top: 200px;
    font-size: 30px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.signup-labels {
    margin-top: 10px;
}

.signup-inputs {
    margin-left: 15px;
}

.signup-page-button {
    background-color: #2e1817;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    border-color: #93c1a0;
    color: #a3865a;
    font-size: 25px;
    margin-top: 50px;
    margin-right: 100px;
}
