.signup-form-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 93vh;
    min-width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    justify-content: center;
    background: url('../../images/signup.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-logo-and-blurb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 700px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.g-recaptcha {
    width: 300px;
    margin-top: 10px;
    height: 30px;
}

.signup-blurb {
    text-decoration: none;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-form-errors {
    width: 300px;
    margin-bottom: 10px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-logo {
    height: 40px;
    width: 40px;
}

.signup-page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #128fdc;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.signup-page-button:hover {
    background-color: #1396e7;
}

.signup-inputs {
    border-radius: 5px;
    border: 1px gray solid;
    outline: none;
    padding-left: 15px;
    width: 280px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-input-fields {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.signup-inputs:focus-within {
    border: 1px #128fdc solid;
}

input:focus~.signup-floating-label,
input:not(:focus):valid~.signup-floating-label {
    font-size: 11px;
    color: #128fdc;
    margin-top: 10px;
    margin-left: 15px;
}

.signup-inputs {
    font-size: 14px;
    width: 285px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 15px;
    padding-top: 10px;
    outline: none;
}

.signup-floating-label {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 16px;
    color: gray;
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-inputs:focus-within {
    border: 1px solid #128fdc;
    outline: none;
    border-radius: 5px;
}

.signup-divider {
    border-bottom: 1px solid gray;
    width: 300px;
    height: 30px;
}

.signup-existing {
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}

.signup-member-text {
    width: 115px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: grey;
}

.signup-login-link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    width: 75px;
    color: #128fdc;
    cursor: pointer;
}
