#img-detail-img {
    max-width: 500px;
    max-height: 500px;
    margin: 20px;
}

#img-detail-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.poster {
    font-weight: bold;
}

.img-detail-date {
    font-weight: bold;
}

.img-detail-caption {
    width: 500px;
}

.photo-detail-edit-button {
    width: 100px;
    height: 35px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
