.img-detail-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-detail-top {
    width: 100%;
    height: 750px;
    background-color: #212124;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.img-detail-back {
    width: 97%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.img-detail-back-btn-and-words {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.img-detail-back-btn {
    color: #f1f1f1;
    display: flex;
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
}

.img-detail-back-words {
    margin-left: 5px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 2px;
    height: 100%;
    width: 105px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #f1f1f1;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-detail-back-btn-and-words:hover .img-detail-back-words {
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 0px;
}

/* .img-detail-back-words:hover {
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 0px;
} */

.img-detail-img-container {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-detail-img {
    margin-top: 10px;
    width: auto;
    max-width: 90%;
    max-height: 640px;
    min-height: 400px;
}

.img-detail-info {
    margin-right: 10%;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #f1f1f1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-detail-bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: aquamarine;
}

.img-detail-bottom-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-detail-bottom-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-detail-bottom-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
}

.img-detail-bottom-pfp {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.img-detail-bottom-img-info {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* #img-detail-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.poster {
    font-weight: bold;
}

.img-detail-date {
    font-weight: bold;
}

.img-detail-caption {
    width: 500px;
}

.photo-detail-edit-button {
    width: 100px;
    height: 35px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.user-album-pics-link,
.user-album-title-link {
    text-decoration: none;
} */
