.splash-header {
    height: 60px;
    background-color: black;
    justify-content: space-between;
    width: 100%;
    min-width: 100vw;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: start;
    align-items: center;
}

.splash-header-login {
    height: 60px;
    background-color: black;
    justify-content: space-between;
    width: 100%;
    min-width: 100vw;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: start;
    align-items: center;
}

.splash-center {
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.splash-top-right-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-top-right-logged-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 1200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.profile-button {
    height: 45px;
    width: 45px;
    border-radius: 10px;
}

.profile-logout-button {
    width: 100px;
    height: 35px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.back-button {
    width: 100px;
    height: 35px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.profile-lists {
    color: white;
    margin: 10px;
}

.profile-button-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.profile-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-top-right-logged-out {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 22px;
}

.splash-top-right-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

/* #root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.splash-not-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.splash-signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    opacity: 100%;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    height: 35px;
}

.splash-top-left {
    margin-left: 20px;
    color: white;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-logo-and-text {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-logo {
    width: 50px;
    height: 50px;
}

/* #home-logo {
    width: 20px;
    height: 20px;
    display: flex;
    background-color: blue;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url('../../images/torch.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.home-logo-and-text:hover {
    text-decoration: none;
}


.home-logo:hover,
:active {
    text-decoration: none;
}

.logo-icon-and-text {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.create-image-link {
    color: white;
    padding: 10px;
}

.create-album-link {
    color: white;
    padding: 10px;
}

.nav-links {
    color: white;
}

.dropdown-menu {
    width: 140px;
    position: absolute;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: #393a3b;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #535556;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}
